<div class="container">

  <p id="notice"><%= notice %></p>

  <h3 class="material-pink">Detalhar Usuário</h1>

  <p>
    <strong>Nome:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Apelido:</strong>
    <%= @user.nickname %>
  </p>

  <p>
    <strong>Número do Telefone:</strong>
    <%= @user.phone_number %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= @user.password %>
  </p>

  <%= link_to 'Editar', edit_user_path(@user) %> |
  <%= link_to 'Voltar', users_path %>

</div>
