<div>

  <p id="notice"><%= notice %></p>

  <h3 class="material-pink">Detalhar Usuário</h1>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= @user.nickname %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= @user.phone_number %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= @user.password %>
  </p>

  <%= link_to 'Editar', edit_user_path(@user) %> |
  <%= link_to 'Voltar', users_path %>

</div>
