<p id="notice"><%= notice %></p>

<div class="container">

  <h1 class="material-pink">Usuários</h1>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Apelido</th>
        <th>Número do Telefone</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.nickname %></td>
          <td><%= user.phone_number %></td>
          <td><%= link_to 'Detalhar', user %></td>
          <td><%= link_to 'Editar', edit_user_path(user), class: "material-gray" %></td>
          <td><%= link_to 'Deletar', user, method: :delete,
            data: {
              confirm: 'Tem certeza que deseja deletar este usuário?',
              'confirm-button-text': 'Sim',
              'cancel-button-text': 'Não',
              'confirm-button-color': '#66CD00',
              'sweet-alert-type': 'warning',
              text: 'Uma vez removido, o usuário não poderá ser recuperado'
            } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table><br>

  <%= link_to "Novo Usuário", new_user_path, class: "waves-effect waves-light btn material-white" %>

</div>
