<!DOCTYPE html>
<html>
  <head>
    <title>Trabalho</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="container">

    <ul id="dropdown-user" class="dropdown-content">
      <li><%= link_to 'Minha Estante', books_path %></li>
      <li><%= link_to 'Minhas Resenhas', reviews_path %></li>
      <li><%= link_to 'Consultar Livros', consultbooks_path %></li>
      <li><%= link_to 'Consultar Livros Para Troca', consulttradebooks_path %></li>
      <li><%= link_to 'Consultar Usuarios', consultusers_path %></li>
    </ul>

    <% if session[:admin] %>
      <ul id="dropdown" class="dropdown-content">
         <li><%= link_to 'Manter Usuários', admin_users_path %></li>
         <li><%= link_to 'Manter Livros', admin_books_path %></li>
         <li><%= link_to 'Manter Estantes', admin_reviews_path %></li>
      </ul>
    <% end %>

    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo" style="padding-left: 14px;">Qualidade de Software</a>
        <ul class="right hide-on-med-and-down">

          <li>
            <a class="dropdown-button material-white nav-item" href="#" data-activates="dropdown-user" style="padding-left: 56px; padding-right: 56px;">Menu
              <i class="material-icons right" style="line-height: 16px;">arrow_drop_down</i>
            </a>
          </li>

          <% if session[:admin] %>
            <li>
              <a class="dropdown-button material-white nav-item" href="#" data-activates="dropdown">Administrativo
                <i class="material-icons right" style="line-height: 16px;">arrow_drop_down</i>
              </a>
            </li>
          <% end %>
        <li>
          <%= link_to '<i class="material-icons">exit_to_app</i>'.html_safe, logout_path,
            title: "Sair", class: "material-white nav-item", style: "padding-top: 0px" %>
        </li>
        </ul>
      </div>
    </nav>

  </div>

  <body>
    <%= yield %>
  </body>
</html>
