<!DOCTYPE html>
<html>
  <head>
    <title>Trabalho</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="container">
    <ul id="dropdown-adm" class="dropdown-content">
      <li><a href="books.html">Manter Usuários</a></li>
      <li><a href="#!">Manter Livros</a></li>
      <li><a href="#!">Manter Estantes</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">Qualidade de Software</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#" class="material-white nav-item">Minha Estante</a></li>
          <li><a href="#" class="material-white nav-item">Minhas Resenhas</a></li>
          <li><a href="#" class="material-white nav-item">Consultar Livros</a></li>
          <li><a class="dropdown-trigger material-white nav-item" href="#!" data-target="dropdown-adm">Administrativo<i class="material-icons right" style="line-height: 16px;">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
