<p id="notice"><%= notice %></p>

<div class="container">

  <h1 class="material-pink">Consultar Livros Para Troca</h1>

  <%= form_tag consultbooks_path, method: "get" do %>
    <div class="input-field">
      <%= text_field_tag :search, params[:search], id: "search" %>
      <%= button_tag(class: "label-icon") do %>
        <i class="material-icons">search</i>
      <% end %>
    </div>
  <% end %>

  <br>

  <ul class="card-list">
    <% @books.each do |book| %>
      <li class="card-panel">
        <a class="card-box">
            <div class="card-header">
              <i class="small material-icons book-icon">book</i>
            </div>
            <div class="card-body">
              <h3><%= book.title %></h3>
              <strong><%= book.author %></strong>
              <p class="card-description">
                É um livro do gênero literário coméria que foi publicado no dia
                <%= book.publication.to_time.strftime('%e de %B do ano %Y') %>
              </p>
            </div>
        </a>
      </li>
    <% end %>
  </ul>

</div>
